<div class="mb-8">
  <%= render "form" %>
</div>

<%= turbo_frame_tag "tweets" do %>
  <%= @tweets.each do |tweet| %>
    <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
    <%# this means we will look for partial X depending on the tweet type %>
  <% end %>
<% end %>

<%= turbo_frame_tag Tweet.new do %>
<%# we use a new instance of tweet %>
  <% if Tweet.all.none? %>
  <%# instead, we could write: @tweets.none? %>
    <%= render "empty" %>
    <%# if there are no tweets at all, render the partial empty %>
  <% end %>
<% end %>
