<div class="mb-8">
  <%= render "form" %>
</div>

<%= turbo_frame_tag "tweets", class: "divide-y" do %>
  <%= render @tweets %>
  <%# this means we will look for the _tweet.html.erb file %>
  <%# by doing so, we don't have to do something like:
  @tweets.each do |tweet|
  render "tweet" tweet: tweet %>
  <%# end %>
  <%# we can do it because of the conventions %>
<% end %>

<%= turbo_frame_tag Tweet.new do %>
<%# we use a new instance of tweet %>
  <% if @tweets.none? %>
    <%= render "empty" %>
    <%# if there are no tweets at all, render the partial empty %>
  <% end %>
<% end %>
